body {
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    /*justify-content: center;*/
}


.header,
.footer,
.about {
    background-color: #1f2937;
   
}

.header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 16px 100px 16px 100px;
}

.header a,
.text .subtext,
.footer {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
}

.button, 
.call {
    background-color: #3882F6;
    border-radius: 6px;
    color: #F9FAF8;
    font-size: 18px;
}

.header-left,
.header-right
{
    align-self: center;
}

.about {
    color: #F9FAF8;
    padding: 100px;
    display: flex;
    gap: 20px;
}

.about .hero {
    font-size: 48px;
    font-weight: 900;
}

.about .text{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    min-width: 400px;
    gap: 0;
}

.about .button {
    border: none;
    padding: 8px 32px;
}

.about .placeholder{
    background-color: #6D757E;
    color: #F9FAF8;
    font-size: 18px;
    min-width: 400px;
    height: auto;
    font-weight: 300;
    display:flex;
    align-items: center;
    justify-content: center;
}

.information {
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.container {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: auto;
}

.block {
    border: #3882F6 4px solid;
    border-radius: 20px;
    height: 175px;
    width: 175px;
}

.caption {
    font-size: 18px;
    color: #6D757E;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1f2937;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    padding: 100px 200px;
}

.signature {
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    text-align: right;
}

.action {
    margin: 100px;
}

.call {
    padding: 25px 100px;
    width: auto;
    display: flex;
    justify-content: space-between;
    color: #E5E7EB;

}

.bold {
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 600;
}

.call .button {
    border: solid 2px #F9FAF8;
    padding: 8px 32px;
}

.footer {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}